*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: cadetblue;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: rgb(43, 159, 226);
}

button:hover{
    background-color: white;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(110, 226, 43); }

header{
    background-color: rgb(251, 253, 250);

}

header .logo{
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: rgb(43, 220, 226);
    font-size: 1.6em;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 255, 221);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0),
        rgb(0, 0, 0)
    ) 
}

#hero h1{
    color: rgb(0, 0, 0);
}

#hero button{
    font-size: 1.75em;
}

#juegos-free .jolt{
    text-align: center;
    padding: 300px 12px;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(57, 63, 65);
    color: black;
    height: 80vh;
}

footer{
    background-color: cadetblue;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(0, 0, 0);
}

footer .container{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }
    }

    #juegos-gratis .juegos{
        display: flex;
        justify-content: center;
    }

    #juegos-gratis p{
        display: block;
        margin-bottom: 30px;
    }

    #juegos-gratis h2{
        font-size: 4em;
    }

    #juegos-gratis h3{
        margin-top: 50;
    }

    #juegos-gratis .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
    }

    #caracteristicas{
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
        background-color: rgb(47, 154, 255);
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
